/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
html {
  --lumo-line-height-m:1.4;
  --lumo-line-height-s:1.2;
  --lumo-line-height-xs:1.1;
  --lumo-primary-color-10pct:hsla(214,100%,48%,0.1);
  --lumo-primary-color-50pct:hsla(214,100%,48%,0.5);
  --lumo-primary-color:hsl(214,100%,48%);
}
